*{
    margin: 0;
    padding: 0;
    font-family: ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #804674;
    color: white;
    padding: 5px 15px;
}
body{
    background-color: #F5FFC9;
}

.titulo{
    display: flex;
    justify-content: space-between;
}


.barra{
    display: flex;
    gap: 27px;
}

.barra a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.barra a:hover {
    text-shadow: 1px 1px 2px rgba(0,0,0,6);
}

.imag{
    position: relative;
    height: 300px;
    background:linear-gradient(to right,rgba(0,0,0,3),rgba(0,0,0,0.03)),
    url(../img/fotocomida.jpg) no-repeat center/cover;
    height: 50vh;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imag h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); 
}

.plato{
    background-color: #A86464;
    border-radius: 30px;
    margin: 30px auto;
    padding: 20px 40px;      
    max-width: 600px;          
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.nombre{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,40); 
}

.imagenes{
    display: block;       
    margin: 0 auto 20px auto; 
    height: 200px;        
    border-radius: 8px;    
    object-fit: cover; 
    border: white 2px solid;
}

li{
   margin-bottom: 6px;
   margin-left: 40px;
   color: white;
   font-size: 20px;
   text-shadow: 1px 1px 2px rgba(0,0,0,40); 
}

.desc{
    text-align: left;
    color: white;
    font-size: 20px;
    padding: 10px 0;
    margin: 10px 20px 20px 20px; 
    text-shadow: 1px 1px 2px rgba(0,0,0,40); 
}

.text{
    text-align: left;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,40); 
    font-size: 20px;
    padding: 10px 0;
    margin: 0 20px 20px 20px;
}

.precio{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
    margin: 20px 0; 
    text-shadow: 1px 1px 2px rgba(0,0,0,40); 
}
